* {
    -webkit-transition: all 0.311s ease;
    -moz-transition:    all 0.311s ease;
    -ms-transition:     all 0.311s ease;
    -o-transition:      all 0.311s ease;
}

body {
    font-family: 'Raleway', sans-serif;
    background: #414141;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
}

header {
    background: rgba(289, 218, 73, 0.8);
    height: 52px;
    padding: 0 8px;
    /*color: #2B2B2B;*/
}
header .nav-item {
    width: 4.5em;
}
header a.nav-link {
    color:#2B2B2B;
    padding: 0 0.5em;
}
header a:hover, a:active, header a.active {
    font-weight: 700;
    color: #111;
}

header .logo{
    display: none;
}




.jumbotron {
    color: #fefefe;
    height: 30rem;
    /*background-image: linear-gradient(to right bottom, #efda49 49.8%, #191c1d 50%);*/
    background-image: linear-gradient(to right bottom, #efda49 49.8%, black 50%);
    padding-top:10px;
    text-align: center;
    margin-bottom: 0;
    mix-blend-mode: lighten;
    transform: translateZ(0);
}
.jumbotron h1 {
    font-size: 8.5rem;
    padding-top: .5rem;
}
.jumbotron .lead {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 1px;
    font-size: 1.8rem;
}
.jumbotron .logo h1 {
    font-size: 2.8rem;
    padding-top: .5rem;
    color: #111;
}

.jumbotron .me {
    padding-top: 39px;
}

.parallax{
    height: 175px;
}
.parallax.top {
    /*background: url("../img/dev-setup.jpg") 30% center no-repeat fixed;*/
}
.parallax.bottom {
    background: url("../img/sample-code-md.jpeg") 40% 20% no-repeat fixed;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 35%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../video/golden.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}


section {
    color: #fefefe;
    background: #191C1D;
    padding: 1.5em 0;
    border-top: 1px solid #efda49;
    /*border-bottom: 1px solid #efda49;*/
    border-bottom: 1px solid #636363;
}

section h2 {
    font-family: 'Permanent Marker', cursive;
    color:#fefefe;
    /*background: #2B2B2B;*/


}
section .headshot {
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


footer {
    height: 3em;
    color: #818181;
    background: #414141;
    padding: 0 2.5em;
}

footer nav ul li {
    display: inline-block;
    width: 1.2em;
    list-style: none;
    font-size: larger;
    float: right;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    /*footer { background: black; }*/
    header .logo{
        display: block;

    }
    header .logo h1 {
        font-size: 1.9rem;
    }

    .jumbotron h1 {
        font-size: 9rem;
    }
    .jumbotron .logo {
        display: none;
    }
    /*.parallax {*/
        /*height: 400px;*/
    /*}*/
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    /*footer { background: orange; }*/
    header .logo h1{
        font-size: 2.5rem;
    }
    header .nav-item {
        width: 5em;
    }
    .jumbotron h1 {
        padding-top: 4.5rem;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    /*footer { background: yellow; }*/

    header .nav-item {
        width: 7em;
    }
    .jumbotron {
        height: 30rem;
        padding-top:10px;
        text-align: left;
    }
    .jumbotron h1 {
        font-size: 9rem;
        padding-top: 0;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    /*footer { background: green; }*/
}