@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Raleway:300,900');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
@import '_variables';
@import "_mixins";

@font-face {
    font-family: $headline-text;
    src: url('https://fonts.googleapis.com/css?family=Permanent+Marker');
}

@font-face {
    font-family: $body-text;
    src: url('https://fonts.googleapis.com/css?family=Raleway:300,900');
}

html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    font-family: $body-text;
    color: var(--black);
    letter-spacing: 1px;
}

h1, .me {
    font-weight: 900;
    text-transform: uppercase;
}

h2, .lead {
    color: $text-light;
    font-family: $headline-text;
    font-size: 2.3rem;
    line-height: 1.2rem;
}
h2 {
    transform: rotate(-2deg);
    transform-origin: center center;
    display: inline-block;
    margin-bottom: 0;
}

p {
    color: $text-grey;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

a {
    font-family: $body-text;
    color: $brand-yellow-opacity;
    text-decoration: none;
    position: relative;

    &:hover {
        color: $brand-yellow;
        &.brackets {
            @include brackets();
        }
    }
}
