// GLOBALS
$transition: all 0.311s ease;

$brand-yellow: #efda49;
$brand-yellow-opacity: rgba(289, 218, 73, 0.8);
$text-black: #2b2b2b;
//$text-grey: #636363;
$text-grey: #8b8b8b;
$text-dark: #111;
$text-light: #fefefe;
$bg-dark: #414141;
$bg-black: #191c1d;
$border-dark: #636363;

// TYPOGRAPHY
$body-text: 'Raleway', sans-serif;
$headline-text: 'Permanent Marker', cursive;