@import '_variables';
@import '_typography';

* {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
}

body {
    font-family: $body-text;
    background: $bg-dark;

    .fullscreen-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	z-index: -100;

	&__video {
	    position: absolute;
	    top: 35%;
	    left: 50%;
	    width: auto;
	    height: auto;
	    min-width: 100%;
	    min-height: 100%;
	    -webkit-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}

    }

    header {
	background: $brand-yellow-opacity;
	height: 52px;
	padding: 0 8px;

	a {
	    &.active {
		font-weight: 700;
		color: $text-dark;
	    }
	}

	.nav-item {
	    width: 4.5em;
	    @media (min-width: 768px) {
		width: 5em;
	    }
	    @media (min-width: 992px) {
		width: 7em;
	    }
	    a {
		&.nav-link {
		    color: $text-black;
		    padding: 0 0.5em;
		}
		&:hover, &:active {
		    font-weight: 700;
		    color: $text-dark;
		}
	    }
	}

	.logo {
	    display: none;
	    @media (min-width: 576px) {
		display: block;
	    }
	    h1 {
		@media (min-width: 768px) {
		    font-size: 2.5rem;
		}
	    }
	}
    }

    .jumbotron {
	color: $text-light;
	height: 30rem;
	background-image: linear-gradient(to right bottom, $brand-yellow 49.8%, black 50%);
	padding-top: 10px;
	text-align: center;
	margin-bottom: 0;
	mix-blend-mode: lighten;
	transform: translateZ(0);
	@media (min-width: 768px) {
	    padding-top: 4.5rem;
	}
	@media (min-width: 992px) {
	    height: 30rem;
	    padding-top: 10px;
	    text-align: left;
	}

	h1 {
	    font-size: 8.5rem;
	    padding-top: .5rem;
	    @media (min-width: 992px) {
		font-size: 9rem;
		padding-top: 0;
	    }
	}

	.lead {
	    font-family: $headline-text;
	    letter-spacing: 1px;
	    font-size: 1.8rem;
	}

	.logo {
	    @media (min-width: 576px) {
		display: none;
	    }
	    h1 {
		font-size: 2.8rem;
		padding-top: .5rem;
		color: $text-dark;
		@media (min-width: 576px) {
		    font-size: 1.9rem;
		}
	    }
	}
    }

    .paralax {
	height: 311px;
	background: url('http://res.cloudinary.com/milnerio/image/upload/q_auto,c_scale,e_art:zorro,w_2428/v1532895246/sample-code.jpg') 50% 50% fixed;
    }

    section {
	color: $text-light;
	background: $bg-black;
	padding: 1.5em 0;
	border-top: 1px solid $brand-yellow;
	border-bottom: 1px solid $brand-yellow;

	h2 {
	    color: $text-light;
	}

	.headshot {
	    text-align: center;
	    -webkit-border-radius: 50%;
	    -moz-border-radius: 50%;
	    border-radius: 50%;
	}
    }

    footer {
	//height: 3em;
	color: $text-grey;
	background: $bg-dark;
	padding: 0 2.5em;

	nav {
	    ul {
		li {
		    display: inline-block;
		    width: 1.2em;
		    list-style: none;
		    font-size: larger;
		    float: right;
		}
	    }
	}
    }
}