@import '_variables';
@import '_typography';
@import "_mixins";
@import "_transitions";

:root {
    --yellow: $brand-yellow;
    --black: $text-black;
}

@media (min-width: 320px) {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    body {
        margin: 0;
        background: url(../img/code_and_music_bg.svg) 0 0 repeat fixed,
        radial-gradient(circle, #373e40 0, #191c1d 100%);

        .wrapper {
            display: grid;
            grid-template-columns: 0.25fr 5fr 0.25fr;
            grid-gap: 0;

            .menu {
                grid-column: 1 / -1;
                background: $brand-yellow;
                box-shadow: 0 0 4px #00000048;
                position: fixed;
                width: 100%;
                z-index: 10;

                ul {
                    display: grid;
                    grid-template-columns: 1.5fr repeat(4, 1fr);
                    padding: 0;
                    margin: 0;
                    grid-gap: 0;
                    list-style: none;
                    align-items: center;
                    justify-items: center;

                    .logo {
                        order: -1;
                        align-self: center;
                        h1 {
                            font-size: 1.2rem;
                            margin-left: 5px;
                        }
                    }

                    a {
                        font-size: 0.8rem;
                        background: var(--yellow);
                        display: block;
                        text-decoration: none;
                        padding: 0;
                        text-align: center;
                        color: var(--black);
                        &:hover {
                            @include brackets(1.5em, -3px, -7px);
                        }
                    }
                }
            }

            .top {
                grid-column: 1 / -1;
                display: grid;
                grid-gap: 0;
                grid-template-columns: 0.25fr 3fr 0.25fr;
                transform: translateZ(0);
                mix-blend-mode: lighten;
                background-image: linear-gradient(to right bottom, $brand-yellow 49.9%, rgba(0,0,0,0) 50.1%);
                .hero {
                    grid-column-start: 2;
                    h1 {
                        font-size: 5rem;
                        margin: 100px 0 0 0;
                        color: $text-light;
                        text-align: center;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                    }
                    .lead {
                        line-height: 1.8rem;
                        font-size: 1.5rem;
                        text-align: center;
                        margin: 0 0 75px 0;
                        letter-spacing: 2px;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                    }
                }
            }

            .about {
                display: grid;
                grid-template-columns: 0.25fr 3fr 0.25fr;
                grid-column: 1 / -1;
                background: radial-gradient(circle, #373e40 0, #191c1d 100%);
                border-top: 1px solid $brand-yellow;
                border-bottom: 1px solid $brand-yellow;
                padding: 1rem 0;
                img {
                    grid-column-start: 2;
                    width: 100%;
                    border-radius: 50%;
                    align-self: center;
                    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                    border: 1px solid $brand-yellow;
                }

                .about__details {
                    grid-column-start: 2;
                }
            }

            .parallax {
                display: grid;
                grid-column: 1 / -1;
                grid-template-columns: 0.25fr 3fr 0.25fr;
                grid-template-rows: 1fr;
                &.quote {

                    h1 {
                        margin: 2rem 0 0 0;
                        grid-column-start: 2;
                        grid-row-start: 1;
                        color: $text-light;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                    }
                    .me {
                        grid-column-start: 2;
                        grid-row-start: 2;
                        text-align: right;
                        color: $text-light;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
                    }
                }
            }

            .site {
                grid-column: 1 / -1;
                display: grid;
                grid-template-columns: 0.25fr 3fr 0.25fr;
                background: radial-gradient(circle, #373e40 0, #191c1d 100%);
                border-top: 1px solid $brand-yellow;
                border-bottom: 1px solid $brand-yellow;
                padding: 1rem 0;
                .site__details {
                    grid-column-start: 2;
                    grid-row-start: 1;
                    h2 {
                        line-height: 2rem;
                    }
                }

                .site__contact {
                    grid-column-start: 2;
                    grid-row-start: 2;
                    i.fa-fw {
                        font-size: 1rem;
                        margin-right: .5rem;
                    }
                    a {
                        font-size: 0.9rem;
                    }
                }
            }

            footer {
                grid-column: 1 / -1;
                p {
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 480px) {
    /* smartphones, Android phones, landscape iPhone */
    body {
        .wrapper {

            .menu {
                //background: #ee5f62;

                ul {
                    grid-template-columns: repeat(2, 1fr) 1.5fr repeat(2, 1fr);
                    .logo {
                        order: unset;
                        h1 {
                            margin-left: 0;
                            font-size: 1.5rem;
                        }
                    }

                    a {
                        font-size: 1rem;
                    }

                }

                h1 {
                    font-size: 2rem;
                }

                a {

                    &:hover {
                    }
                }
            }

            .top {

                .hero {

                    h1 {
                        font-size: 7rem;
                        margin: 120px 0 0 0;
                    }
                    .lead {
                        line-height: 1.8rem;
                        font-size: 1.8rem;
                        text-align: center;
                        margin: 0 0 90px 0;
                    }
                }
            }

            .about {

                img {
                }

                .about__details {
                }
            }

            .parallax {

                &.quote {

                    h1 {
                    }
                    .me {
                    }
                }
            }

            .site {

                .site__details {
                }

                .site__contact {

                    i.fa-fw {
                    }
                    a {
                    }
                }
            }

            footer {
                p {
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    body {
        .wrapper {

            .menu {
                //background: #ee75ce;

                ul {
                    .logo {
                        h1 {
                            font-size: 2.3rem;
                            margin: 1rem 0;
                        }
                    }
                }

                a {
                    &:hover {
                    }
                }
            }

            .top {

                .hero {

                    h1 {
                        font-size: 10rem;
                        margin: 150px 0 0 0;
                    }
                    .lead {
                        //line-height: 1.8rem;
                        font-size: 1.75rem;
                        //text-align: left;
                        margin: 1rem 0 90px 0;
                        .break-me {
                            display: none;
                        }
                    }
                }
            }

            .about {
                img {
                }

                .about__details {
                }
            }

            .parallax {

                &.quote {

                    h1 {
                        margin: 5rem 0 0 0;
                    }
                    .me {
                        margin: 0 0 5rem 0;
                    }
                }
            }

            .site {

                .site__details {
                }

                .site__contact {

                    i.fa-fw {
                        font-size: 1.1rem;
                        margin-right: .7rem;
                    }
                    a {
                        font-size: 1.1rem;
                        &:hover {
                            @include brackets(1.5em, -3px, -7px);
                        }
                    }
                }
            }

            footer {
                p {
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 801px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    body {
        .wrapper {

            .menu {
                //background: #a3ee92;

                ul {
                    .logo {
                        h1 {
                        }
                    }
                }

                a {

                    &:hover {
                    }
                }
            }

            .top {

                .hero {

                    h1 {
                        font-size: 12rem;
                        margin: 200px 0 0 0;
                    }
                    .lead {
                        margin: 0 0 200px 0;
                    }
                }
            }

            .about {
                grid-gap: 20px;
                grid-template-columns: 0.25fr 1fr 2fr 0.25fr;
                img {
                    grid-column-start: 2;
                    align-self: start;
                    margin-top: 2rem;
                }

                .about__details {
                    grid-column: 3 / -2;
                }
            }

            .parallax {

                &.quote {

                    h1 {
                        margin: 7rem 0 0 0;
                        font-size: 3.5rem;
                    }
                    .me {
                        margin: 2rem 0 5rem 0;
                        font-size: 2rem;
                    }
                }
            }

            .site {
                grid-gap: 20px;
                grid-template-columns: 0.25fr repeat(2, 1fr) 0.25fr;
                grid-template-rows: 1fr;
                .site__details {
                    grid-column-start: 2;
                    grid-row-start: 1;
                }

                .site__contact {
                    grid-column-start: 3;
                    grid-row-start: 1;
                    h2 {
                        line-height: 2rem;
                    }
                    i.fa-fw {
                    }
                    a {
                        font-size: 1rem;
                    }
                }
            }

            footer {
                p {
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    body {
        .wrapper {

            .menu {
                //background: #81ee4e;

                ul {
                    h1 {
                    }

                    a {

                        &:hover {
                        }
                    }
                }
            }

            .top {

                .hero {

                    h1 {
                    }
                    .lead {
                    }
                }
            }

            .about {
                grid-template-columns: 0.25fr 1fr 3fr 0.25fr;
                img {
                    align-self: center;
                }

                .about__details {
                }
            }

            .parallax {

                &.quote {

                    h1 {
                        margin: 10rem 0 0 0;
                    }
                    .me {
                    }
                }
            }

            .site {
                grid-template-columns: 0.25fr 3fr 1.5fr;

                .site__details {
                    //grid-column-start: ;
                }

                .site__contact {

                    i.fa-fw {
                        //margin-right: 0.25rem;
                    }
                    a {
                        //font-size: 0.8rem;
                    }
                }
            }

            footer {
                p {
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 1281px) {
    /* hi-res laptops and desktops */
    body {
        .wrapper {

            .menu {
                //background: #94b7ee;

                ul {
                    h1 {
                    }

                    a {

                        &:hover {
                        }
                    }
                }
            }

            .top {

                .hero {

                    h1 {
                    }
                    .lead {
                    }
                }
            }

            .about {

                img {
                }

                .about__details {
                }
            }

            .parallax {

                &.quote {

                    h1 {
                        margin: 15rem 0 10rem 0;
                        text-align: center;
                    }
                    .me {
                        //margin: 0 0 15rem 0;
                    }
                }
            }

            .site {

                .site__details {
                }

                .site__contact {

                    i.fa-fw {
                    }
                    a {
                    }
                }
            }

            footer {
                p {
                    text-align: center;
                }
            }
        }
    }
}